/* --------- HEADER ---------- */

@font-face {
    font-family: bauhauser;
    src: url(fonts/Bauhaus\ 93\ Regular.ttf);
  }

@font-face {
    font-family: bauhausing;
    src: url(fonts/BAUHS93.ttf);
}

h2 {
    font-family: bauhausing;
}

header {
    background-color: white;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    width: 120px;
    text-align: center;
    color: black;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

nav a:hover {
    color: #ffd700; 
}

.active {
    color: #ff0028; 
}

/* --------- HEADER ---------- */ /* --------- FOOTER ---------- */

footer {
    margin-top: 64px;
    height: 325px;
    background-color: #333;
}

#footbox {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1%;
}

#footHelp {
    padding-top: 10px;
    margin-left: 1%;
}
#footNav {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

nav a {
    margin-bottom: 10px;
}

footer div div h4 {
    color: #f5f5f5;
}

/* --------- FOOTER ---------- */ /* --------- INDEX & HISTORY Styler ---------- */

.hero {
    position: relative;
    text-align: center;
    background-color: #f5f5f5;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: auto;
    opacity: 0.7;
}

.hero h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 3.5em;
}

.hero p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 1.5em;
}


.hero h1.gallery {
    position: absolute;
    top: 60%; 
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 2em; 
    color: white;
}


.hero h1.gallery::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 400px; 
    height: 40px; 
    background-color: red;
    z-index: -1; 
    border-radius: 20px;
}

/* History Font subject to change */
#amiibo-history p {
    font-size: 1.2em; 
    line-height: 1.6; 
    color: #444; 
    margin-bottom: 20px; 
    font-family: "Arial";
    text-align: justify;
    text-decoration: none;
    letter-spacing: 1px;
}

.centered-content {
    text-align: center;
    font-size: 1.2em;
}

.centered-content h1 {
    font-size: 2em; 
}

.centered-content p {
    font-size: 1.4em; 
}

.centered-content input[type="text"],
.centered-content input[type="email"],
.centered-content input[type="tel"],
.centered-content textarea {
    font-size: 1.2em; 
} 

#amiibo-history {
    overflow: hidden; 
}

#amiibo-history img {
    max-width: none;
    width: 100%;
    height: auto;
    position: relative;
    opacity: 0.3; 
}


#amiibo-history p {
    font-size: 1.4em; 
    line-height: 1.6; 
    color: #444; 
    margin-bottom: 20px; 
    font-family: "Arial";
    text-align: justify;
    text-decoration: none;
    letter-spacing: 1px;
    position: absolute; 
    bottom: -450px; 
    left: 50%; 
    transform: translateX(-50%); 
    margin: 0;
    padding: 10px;
    font-weight: bold; 
}

/* --------- INDEX Styler ---------- */ /* --------- FACTS Styler ---------- */

#header_facts{
    padding-top: 25%;
    padding-left: 5%;
    /*background-color: #ff0028;*/
    width: 1000px;
}

#factoid {
    font-size: 36px;
    color: #333333;
}
#common_factor {
    font-size: 24px;
    padding-left: 100px;
    padding-right: 50px;
    color: #444444;
}
#common_Header {
    font-size: 24px;
    padding-left: 50px;
    padding-top: 25px;
}

/*
    .cHO{
    background-color: #eeeeee;
    }

    .cHE{
        background-color: #dddddd;
    }
*/

#factoid {
    font-size: 36px;
}
#common_factor {
    font-size: 24px;
    padding-left: 100px;
    color: #555555;
}

#facts_iamge {
    width: 600px;
}

/* --------- FACTS Styler ---------- */ /* --------- CONTENT ---------- */

#buttonMenu{
    display: flex;
    flex-wrap: wrap;
    width: 58%;
    margin-left: 11%;
    margin-top: 1%;
    margin-bottom: 1%;
    /*background-color: #dddddd;*/
    justify-content: space-between;
}

#buttonMenu button {
    width: 172px;
    height: 55px;
    font-size: 18px;
    margin-top: 8px;
    border: 2px solid #888888;
    border-radius:25px;
}

#buttonMenu p {
    font-size: 22px;
}

#main {
    display: flex;
    flex-wrap: wrap;
    margin-left: 11%;
    width: 78%;
    justify-content: space-between;
    background-color: #eeeeee;
    border: 2px solid #cccccc;
    border-radius: 5px;
}

#main figure{
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 12px;
    border-color: #cccccc;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    flex-direction: column-reverse;
    /*padding-left: 6px;
    padding-right: 6px;*/
}

#main figure img{
    padding-bottom: 12px;
    border-bottom: 2px solid #bbbbbb;
    margin-bottom: 12px;
}

#main figure figcaption{
    color: #555555;
    
}

/* --------- CONTENT ---------- */ /* ---------- CONTACT ----------*/

#contactContent{
    width: 50%;
    margin-left: 25%;

}

#contactForm {
    display: flexbox;
    flex-direction: column;
    margin-top: 32px;
}

#contactTitle {
    margin-left: 10%;
}

#factoid {
    font-size: 36px;
}
#common_factor {
    font-size: 24px;
    padding-left: 100px;
    color: #555555;
}
#fleksboks {
    display: flex;
    justify-content: space-evenly;
}
.cont_inf {
    font-size: 24px;
    margin-left: 10%;
}

#hoursT {
    margin-left: 10%;
    margin-bottom: 32px;
}

.contactDescript{
    margin-left: 10%;
    width: 700px;
    color:#555555;
    font-size: 12px;
}

#name {
    height: 32px;
    width: 250px;
    font-size: 18px;
}

#phoneD {
    font-size: 24px;
    margin-left: 48px;
}

#phoneN {
    height: 32px;
    width: 250px;
    font-size: 18px;
}
#eMai {
    height: 32px;
    width: 630px;
    font-size: 18px;
    margin-top: 18px;
    margin-bottom: 18px;
}
#comment {
    display: flex;
    justify-content: center;
    height: 134px;
    width: 700px;
    font-size: 18px;
    margin-left: 10%;
}

#sendBut {
    width: 128px;
    height: 38px;
    margin-left: 10%;
    margin-bottom: 5%;
    font-size: 18px;
}

/* ---------- CONTACT ----------*/


  
 /*


.hero {
    text-align: center;
    padding: 50px;
    background-color: #f5f5f5; 
}

.hero img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 2em;
    margin-bottom: 10px;
}


 */
  
  

  /* Index Page Hero Styler 

.hero {
    text-align: center;
    padding: 50px;
    background-color: #f5f5f5; 
}

.hero img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    color: #666;
} 

#facts_iamge {
    position: absolute;
    top: 0;
    width: 99%;
    height: 45%;
    object-fit: cover;
    object-position: 55%;
    transform: scale(1) translate(0, 52%);
}

*/
  