header {
    background-color: white;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    width: 120px;
    text-align: center;
    color: black;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

nav a:hover {
    color: #ffd700; 
}


.hero {
    text-align: center;
    padding: 50px;
    background-color: #f5f5f5; 
}

.hero img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    color: #666;
}


/* History Font subject to change */
#amiibo-history p {
    font-size: 1.2em; 
    line-height: 1.6; 
    color: #444; 
    margin-bottom: 20px; 
    font-family: "Arial"
    text-align: justify;
    text-decoration: none;
    letter-spacing: 1px;
}

.centered-content {
    text-align: center;
    font-size: 1.2em;
  }

  .centered-content h1 {
    font-size: 2em; 
  }
  
  .centered-content p {
    font-size: 1.4em; 
  }
  
  .centered-content input[type="text"],
  .centered-content input[type="email"],
  .centered-content input[type="tel"],
  .centered-content textarea {
    font-size: 1.2em; 
  } 
  
  
  




